#myCanvas   {
                  
}

#highscore_box {
    width: 640px;
	height: 200px;
	color: #FFF;
	background-color: rgba(220, 160, 140, 0.0);
/*	pointer-events: none;*/
	font-family: visitor_tt1_brkregular, arial;
	font-size: 16px;
	line-height: 1.4em;
}

.highscore_row {
	clear: both;
	width: 100%;
}

.highscore_row span {
	display: block;
	float: left;
	width: 25%;
	padding: 0 0 0 5%;
}

.highscore_row span:nth-child(1) {
	width: 10%;
}

#name, #email {
    color: #fff;
    background: transparent none;
    border: none;
}

.error {
    color: red !important;
}

.blink {
  animation: blink-animation 0.75s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.75s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}